.holiday {
  display: flex;
  margin-top: 2.5rem;
  border-radius: 10px;
  background-color: #fff;
  opacity: 1;
  // padding: 0 2rem 2rem 2rem;

  @media only screen and (max-width: 56.25em) {
    flex-direction: column;
    grid-gap: 2rem;
  }

  &__left-section {
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
    padding: 4.5rem 2.5rem 0 2.5rem;

    @media only screen and (max-width: 56.25em) {
      flex-direction: row;
      justify-content: center;
    }
    @media only screen and (max-width: 25em) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__right-section {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 3.5rem;
    border-left: 2px solid #ededf2;

    @media only screen and (max-width: 56.25em) {
      border: none;
      border-top: 2px solid #ededf2;
    }
  }

  &__button {
    all: unset;
    color: #232326;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.7rem 8rem 0.7rem 2rem;

    @media only screen and (max-width: 43.75em) {
      padding: 1rem 2rem;
    }

    &.active {
      color: #405cd2;
      background-color: #e1e6ff;
      border-radius: 6px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    @media only screen and (max-width: 25em) {
      flex-direction: column;
      grid-gap: 2rem;
      align-items: center;
    }

    & h2 {
      & span {
        color: #232326;
        font-size: 3rem;
      }
    }
  }

  &__date {
    display: flex;
    align-items: center;
    grid-gap: 2rem;
    & div {
      display: flex;
      align-items: center;
      grid-gap: 1rem;

      & span {
        color: #90919b;
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }

  &__paragraph {
    color: #90919b;
    font-size: 1.2rem;
    margin-bottom: 3.5rem;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 6rem;

    @media only screen and (max-width: 56.25em) {
      padding: 0;
      flex-direction: column;
      grid-gap: 1rem;
    }

    & span {
      color: #232326;
      font-size: 1.2rem;
      font-weight: 600;
    }

    &-right {
      display: flex;
      align-items: center;
      grid-gap: 2rem;

      & img {
        width: 12px;
        height: 12px;
      }
    }
  }

  &__new-item,
  &__filter {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    cursor: pointer;
  }
  &__new-item {
    & span {
      color: #fea101;
      font-weight: 500;
    }
  }
  &__filter {
    & span {
      color: #90919b;
    }
  }

  &__select {
    color: #232326;
    position: relative;
    cursor: pointer;

    & select {
      color: inherit;
      margin-right: 1rem;
    }

    &::after {
      width: 18px;
      height: 18px;
      content: ">";
      color: inherit;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg) translateY(-50%);
      position: absolute;
      top: 40%;
      right: 0;
      padding: 0 0 2px;
      pointer-events: none;
      font-weight: bold;
    }
  }
}

table {
  width: 100%;
  margin-top: 2rem;
}

thead {
  display: grid;
  // grid-template-columns: minmax(15rem, 25rem) minmax(30rem, 50rem) minmax(
  //     15rem,
  //     25rem
  //   );

  // grid-template-columns: 1fr 2fr 1fr 0.5fr 0.5fr;

  align-items: center;
  width: 100%;
  font-size: 1.3rem;
  color: #bbbbbf;
  padding: 0 0 1.2rem 0.2rem;
  border-bottom: 2px solid #dfdfdf;
}

th {
  font-size: 1.3rem;
  color: #bbbbbf;
  font-weight: 500;
  text-align: inherit;
}

tr {
  display: grid;
  // grid-template-columns: minmax(15rem, 25rem) minmax(30rem, 50rem) minmax(
  //     15rem,
  //     25rem
  //   );
  grid-template-columns: 2fr 7.5fr 2fr 0.5fr 0.5fr;
  grid-column-gap: 1.5rem;
  align-items: center;
  padding-left: 1rem;
}

tr td {
  padding: 1.5rem 0;
  color: #151b30;
  font-size: 1.3rem;
  font-weight: 600;
}

tr td img {
  width: 12px;
  height: 12px;
}

tr td:nth-child(5n + 2) {
  color: #585a64;
}

@media (max-width: 43.75em) {
  thead {
    display: none;
  }

  table tbody,
  table tr,
  table td {
    display: block;
    width: 100%;
  }

  table tr {
    padding: 0;
  }

  table td:nth-child(5n) {
    border-bottom: 5px solid #405cd2;
  }

  table td {
    position: relative;
    text-align: right;
    padding-left: 50%;
  }

  table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    text-align: left;
  }
}
