.modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
  width: 80rem;
  max-width: 100%;
  min-height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  z-index: 1000;

  &__right-section {
    position: relative;
    padding-left: 2rem;

    @media only screen and (max-width: 50em) {
      position: initial;
    }
  }

  &__close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 4.8px 5px;
    border: 2px solid #dbdbdb;
    border-radius: 10px;
  }

  &__container {
    margin: 7.5rem 0 10rem 0;

    @media only screen and (max-width: 50em) {
      margin: 4rem;
    }
  }

  &__paragraph {
    color: #9898a5;
    line-height: 2rem;
    max-width: 25rem;
  }

  &__csv {
    padding: 2px;
    color: #fedb41;
    background-color: #fff1de;
    font-weight: 500;
  }

  &__button {
    margin-top: 2rem;
    position: absolute;
    right: 3.2rem;
    bottom: 22px;
    width: 100px;
    color: #fff;
    background-color: #40d2ac;
    border: none;
    border-radius: 10px;
    padding: 0.7rem 1rem;
  }

  &__click-here {
    text-decoration: underline;
    color: #9898a5;
    font-weight: bold;
  }

  &__files {
    margin-top: 2rem;
    font-size: 1.3rem;
    color: #405cd2;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.list {
  margin-top: 0.5rem;
}
