.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 37.5em) {
    width: 100%;
    flex-direction: column;
  }

  &__logo {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    cursor: pointer;

    & span {
      color: #232326;
      font-size: 2rem;
      font-weight: bold;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    grid-gap: 2rem;
    list-style: none;

    @media only screen and (max-width: 31.25em) {
      flex-direction: column;
      margin-top: 1.5rem;
    }
  }
  &__links {
    text-decoration: none;
  }

  &__icons {
    width: 24px;
    height: 24px;
  }

  &__user {
    width: 40px;
    height: 40px;
  }

  &__select {
    display: flex;
    grid-gap: 1.5rem;
    align-items: center;
    position: relative;
    cursor: pointer;

    &::after {
      width: 10px;
      height: 5px;
      content: ">";
      color: #90919b;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg) translateY(-50%);
      position: absolute;
      top: 50%;
      right: 0;
      padding: 0 0 2px;
      pointer-events: none;
      font-weight: bold;
    }
  }

  &__money {
    width: 20px;
    height: 20px;
  }
}

select {
  display: block;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #f4b844;
  background: transparent;
  border: none;
  margin-right: 3.5rem;

  &:focus {
    outline: none;
  }
}

select::-ms-expand {
  display: none;
}
