.sidebar {
  &.active {
    display: block;
    margin-top: 6rem;
    background-color: #133b5c;
    width: 100%;
    z-index: 1000;
  }

  &.active &__container {
    transform: translateX(0);
    align-items: center;
  }

  @media only screen and (max-width: 37.5em) {
    display: none;
    position: absolute;
  }

  &__container {
    display: flex;
    flex-direction: column;
    grid-gap: 10rem;

    @media only screen and (max-width: 37.5em) {
      transform: translateX(-150%);
    }
  }

  &__arrow {
    display: block;
    width: 15px;
    height: 15px;
    margin: 4rem 0 0 2rem;
  }

  &__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 2rem;

    & div {
      padding: 1.5rem 0 1.5rem 2rem;
      cursor: pointer;

      @media only screen and (max-width: 37.5em) {
        padding: 2rem;
      }
    }

    &.active {
      border-left: 3px solid #22232a;

      @media only screen and (max-width: 37.5em) {
        border: none;
        border-bottom: 3px solid #22232a;
      }
    }

    & img {
      display: block;
      width: 18px;
      height: 18px;
    }
  }
}
