.sidebar {
  display: flex;
  flex-direction: column;
  grid-gap: 10rem;

  &__arrow {
    display: block;
    width: 15px;
    height: 15px;
    margin: 4rem 0 0 2rem;
  }

  &__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 2rem;

    & div {
      padding: 1.5rem 0 1.5rem 2rem;
      cursor: pointer;
    }

    &.active {
      border-left: 3px solid #22232a;
    }

    & img {
      display: block;
      width: 18px;
      height: 18px;
    }
  }
}
